@model NCraftDisplay.Models.ScoreBoardViewModel

<div class="container">
    <div class="row">
        <div class="col-lg-12" id="mainContainer">
            @Html.Partial("ResultsView", Model)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 label label-success">
            <span class="glyphicon glyphicon-check"></span> Latest batch : @Model.LatestBatch
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 label label-warning">
            <span class="glyphicon glyphicon-warning-sign"></span> Next batch in : XX minute(s)
        </div>
    </div>
</div>

