<div class="row jumbotron">
    <div class="row">
        <div class="col-lg-12">
            <table class="table-striped">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Player</th>
                        <th>Score</th>
                        <th>Evolution</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td>User 32</td>
                        <td>5266</td>
                        <td><span class="glyphicon glyphicon-arrow-up text-success"></span></td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>User 65</td>
                        <td>5266</td>
                        <td><span class="glyphicon glyphicon-arrow-right text-info"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 label label-warning">
            <span class="glyphicon glyphicon-warning-sign"></span> Next batch in : 10 minute(s)
        </div>
    </div>
</div>