@model NCraftDisplay.Models.ScoreBoardViewModel

<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <img  style="height: 120px" src="~/Content/img/logo.png" alt="Logo GoooD!"/>
        </div>
        <div class="col-lg-8">
            <div class="text-center h1">Battleship Contest Scoreboard</div>
        </div>
        <div class="col-lg-2">
            <img style="height: 120px" src="~/Content/img/ncraft.png" alt="Logo Ncraft" />
        </div>

    </div>
    <div class="row" id="mainContainer">
        @Html.Partial("ResultsView", Model)
    </div>
</div>
