@model NCraftDisplay.Models.ScoreBoardViewModel

<table class="table table-condensed lead">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Score</th>
            <th>Evolution</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.Players)
        {
            <tr>
                <td>@i.Rank</td>
                <td>@i.Name</td>
                <td>@i.Score</td>
                <td><span class="@i.EvolutionClass"></span></td>
            </tr>
        }
    </tbody>
</table>

