<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ExeRepository" value="E:\ncraftcsv\players"/>
    <add key="CsvFileLocation" value="E:\ncraftcsv"/>
  </appSettings>
</configuration>